<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.automation.ecommerce.listners.Listener"></listener>
		<listener
			class-name="com.automation.ecommerce.listners.RetryListener"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.automation.ecommerce.homepage.TC001_CustomerRegistration">
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
